<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading main-color">
                <span class="font-color">Points lists</span>
                <span class="pull-right"><i class="glyphicon glyphicon-plus green-color" uib-tooltip="Create list" role="button" aria-hidden="true" ng-click="Ctrl.createList();"></i></span>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!Ctrl.lists.length">
                            <td colspan="2" class="text-center alert alert-info"><span>There are no lists yet!</span></td>
                        </tr>
                        <tr ng-repeat="list in Ctrl.lists | orderBy:'name'">
                            <td>{{::list.name}}</td>
                            <td>
                                <i class="glyphicon glyphicon-search green-color" uib-tooltip="View list" role="button" aria-hidden="true" ui-sref="lists.details({id: list.id})"></i>
                                <i class="glyphicon glyphicon-trash red-color" uib-tooltip="Remove list" role="button" aria-hidden="true" ng-click="Ctrl.removeList(list)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div ui-view></div>
    </div>
</div>